{% extends 'layouts/base.html' %}
{% block content %}
<section class="container">
    {% if request.user.is_authenticated %}
    <h1 class="display-1 text-center py-5">{{ titulo }}</h1>
    <div class="card border-0 py-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card-body ">
                    <h5 class="card-title">Hola {% if user.first_name == '' %} {{user.username}} {% else %}
                        {{user.first_name | upper}} {% endif %}!</h5>
                    <p class="card-text">Bienvenido a la aplicación web para solicitud de pedidos de materiales del
                        Ministerio de Infraestructura y Obras Civiles. Esta web es para uso exclusivo del personal
                        autorizado por el ministerio. Aquí podrá gestionar sus solicitudes de forma rápida, fácil y
                        segura. Podrá consultar el estado de sus pedidos y el historial de sus operaciones. También
                        podrá comunicarse con el equipo técnico en caso de tener alguna duda o problema. Esperamos que
                        esta aplicación sea de gran utilidad y que ayude a optimizar tu trabajo.</p>
                    <p class="card-text"><small class="text-body-secondary"><i>Consultas por WhatsApp <a target="_blank"
                                    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                    href="https://wa.me/5493834225785?text=Hola%20Lucas,%20tengo%20una%20duda...">aqui</a></i></small>
                    </p>
                </div>
            </div>
            <!-- metricas tecnicos -->
            {% if perms.pedidos.view_material %}
            <div class="col-md-6 text-end">
                <div class="row">
                    <div class="col-4">
                        <div class="row numbers">
                            <div class="col">
                                <div class="h1 fw-bold text-secondary">{{ cant_pedidos }} <i class="bi bi-send-arrow-up-fill"></i></div>
                                <p class="lead">Pedidos de Materiales</p>
                                <p class="text-muted">+11,06% vs mes anterior</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row numbers">
                            <div class="col">
                                <div class="h1 fw-bold text-warning">{{ pedidos_aprobados }} <i class="bi bi-clipboard-check"></i></div>
                                <p class="lead">Pedidos Autorizados</p>
                                <p class="text-muted">{{ porc_aprobados }}% autorizado</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row numbers">
                            <div class="col">
                                <div class="h1 fw-bold text-success">{{ pedidos_comprados }} <i class="bi bi-cart-plus-fill"></i></div>
                                <p class="lead">Pedidos comprados</p>
                                <p class="text-muted">{{ porc_comprados }}% resuelto</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Metricas compras -->
            {% elif perms.pedidos.add_material %}
            <div class="col-md-6 text-end">
                <div class="row">
                    <div class="col-4">
                        <div class="row numbers">
                            <div class="col">
                                <div class="h1 fw-bold text-secondary">{{ pedidos_aprobados }} <i class="bi bi-cart-fill"></i></div>
                                <p class="lead">Pedidos Solicitados</p>
                                <p class="text-muted">{{ var_pedido }}% vs mes anterior</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row numbers">
                            <div class="col">
                                <div class="h1 fw-bold text-success">{{ pedidos_comprados }} <i class="bi bi-cart-check-fill"></i></div>
                                <p class="lead">Pedidos Gestionados</p>
                                <p class="text-muted">{{ porc_comprados }}% a proveedor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row numbers">
                            <div class="col">
                                <div class="h1 fw-bold text-danger">{{ pedidos_no_comprados }} <i class="bi bi-cart-x-fill"></i></div>
                                <p class="lead">Pedidos Pendientes</p>
                                <p class="text-muted">{{ porc_no_comprados }}% en mora</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Metricas directores -->
            {% elif perms.pedidos.add_sector %}
            <div class="col-md-6 text-end">
                <div class="row">
                    <div class="col-4">
                        <div class="row numbers">
                            <div class="col">
                                <div class="h1 fw-bold text-secondary">{{ cant_pedidos }} <i class="bi bi-check2"></i></div>
                                <p class="lead">Pedidos de Materiales</p>
                                <p class="text-muted">{{ var_pedido }}% vs mes anterior</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row numbers">
                            <div class="col">
                                <div class="h1 fw-bold text-success">{{ pedidos_aprobados }} <i class="bi bi-check2-all"></i></div>
                                <p class="lead">Pedidos Autorizados</p>
                                <p class="text-muted">{{ porc_aprobados }}% a compra</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row numbers">
                            <div class="col">
                                <div class="h1 fw-bold text-danger">{{ pedidos_pendientes }} <i class="bi bi-clock-history"></i></div>
                                <p class="lead">Pedidos Pendientes</p>
                                <p class="text-muted">{{ porc_pendientes }}% sin resolver</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    {% else %}
    <h1 class="display-1 text-center py-5">Uso restringido a personal autorizado ⚠️</h1>
    {% endif %}
    {% if user.is_authenticated %}

    {% else %}
    <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
            Iniciar sesión
        </a>
    </div>
    {% endif %}
</section>

{% endblock %}