{% extends 'layouts/base.html' %}
{% block content %}

<main class="container py-5">
    <h1 class="display-1 text-center">Informes y memorias</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12 search">
                <form method="get">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control" placeholder="Ingrese palabras claves..."
                                name="buscar" value="{{ request.GET.buscar }}">
                            <span class="input-group-list">
                                <i class="icon icon-search"></i>
                                <button type="submit" class="btn btn-success">
                                    <i class="bi bi-search"></i> Buscar
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr size="5" color="grey" noshade>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-success">
                <th><input type="checkbox" id="select-all"></th>
                <th>Cod. Pedido</th>
                <th>Área</th>
                <th>Obra</th>
                <th>Problema</th>
                <th>Solución</th>
                <th>Memoria</th>
            </thead>
            <tbody>
                {% for lista in lista_memoria %}
                <tr>
                    <td><input type="checkbox" name="pedidos[]" value="{{ pedido.pk }}"></td>
                    <td>{{lista.codigo_pedido}}</a>
                    </td>
                    <td>{{lista.obra.get_area_display}}</td>
                    <td><a href= {{lista.id}}
                        class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{lista.obra}}</a></td>
                    <td>{% if lista.problema != '' %}✅{% else %}❌{% endif %}</td>
                    <td>{% if lista.propuesta != '' %}✅{% else %}❌{% endif %}</td>
                    <td>{% if lista.memoria != '' %}✅{% else %}❌{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
