{% extends 'layouts/base.html' %}
{% block content %}

<main class="container py-5">
    <section class="card">
        <ul class="list-group list-group-flush">
            <h1 class="display-1 text-center">Pedidos</h1>
            <ul>
                <div class="card-group mt-3">
                    {% for pedido in pedidos %}
                    <div class="card-body">
                        <li class="list-group-item">
                            <h4 class="card-title py-lg-4">{{pedido.id}} {{pedido.obra}}</h4>
                            <p class="card-text">{{pedido.sector}}</p>
                        </li>
                    </div>
                    {% endfor %}
                </div>
            </ul>
        </ul>
    </section>
</main>


{% endblock %}