{% extends 'layouts/base.html' %}
{% block content %}

<h1>Pedidos Materiales Pedido</h1>
<main class="container py-5">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Pedido</th>
                <th>Material</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido_materialespedido in pedidos_materialespedido %}
            <tr>
                <td>{{ pedido_materialespedido.pedido.obra }}</td>
                <td>{{ pedido_materialespedido.material.name }}</td>
                <td>{{ pedido_materialespedido.cantidad }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}


