{% extends 'layouts/base.html' %}
{% block content %}

<main class="container py-5">
    <h1>Pedido de Materiales - {{ obra_name }}</h1>
    <h3>Pedido: {{ cod_pedido }}</h3>
    <br>
    {% if request.method == 'GET' %}
    <br>
    {% if perms.pedidos.add_sector %}
    {% if a_proveedor  %}
    {% else %}
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_table}}
        <button class="btn btn-secondary">Guardar</button>
        {% endif %}
        <a href="descargar/" method="POST" class="btn btn-dark ">Descargar</a>
    </form>
    {% endif %}
    {% endif %}
    {{error}}
    <hr size="5" color="grey" noshade>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Rubro</th>
                <th>Material</th>
                <th>Unidad</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido_materialespedido in pedidos_materialespedido %}
            <tr>
                <td>{{ c.materialespedido__material__rubro__name }}</td>
                <td>{{ pedido_materialespedido.materialespedido__material__name }}</td>
                <td>{{ pedido_materialespedido.materialespedido__material__unidad }}</td>
                <td>{{ pedido_materialespedido.cantidad }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}