{% extends 'layouts/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<main class="container py-5">
    <h1 class="display-1 text-center">Pedido de Compra</h1>
    <br>
    <div>
        <h4>Obra: {{ obra_name }}</h4>
        <h6>Pedido: {{ cod_pedido }}</h6>
        <h6>Ubicacion: {{ ubicacion }}</h6>
    </div>
    {% if request.method == 'GET' %}
    {% if perms.pedidos.add_material %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-secondary"><i class="bi bi-floppy"></i> Guardar</button>
        {% endif %}
        <a href="descargar/" method="POST" class="btn btn-dark ">
            <i class="bi bi-cloud-download"></i> Descargar
        </a>
    </form>
    {% endif %}
    {{error}}
    <br>
    <hr size="5" color="grey" noshade>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Rubro</th>
                <th>Material</th>
                <th>Unidad</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido_materialespedido in pedidos_materialespedido %}
            <tr>
                <td>{{ pedido_materialespedido.materialespedido__material__rubro__name }}</td>
                <td>{{ pedido_materialespedido.materialespedido__material__name }}</td>
                <td>{{ pedido_materialespedido.materialespedido__material__unidad }}</td>
                <td>{{ pedido_materialespedido.cantidad }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}